<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263023150372-3b2r26f6l621jatho7msv482prrn4ehe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263023150372-3b2r26f6l621jatho7msv482prrn4ehe</string>
	<key>API_KEY</key>
	<string>AIzaSyAlRjADL9MzzDcmo2ofeNqxH-Su6cKvREw</string>
	<key>GCM_SENDER_ID</key>
	<string>263023150372</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.clothingApp</string>
	<key>PROJECT_ID</key>
	<string>clothing-f7788</string>
	<key>STORAGE_BUCKET</key>
	<string>clothing-f7788.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263023150372:ios:25c9bfb09f6bc672049fb1</string>
</dict>
</plist>